<div>
    <nav class="navbar navbar-expand navbar-dark bg-black text-black">
      <a href="#" class="navbar-brand">RSS</a>
      <div class="navbar-nav">
        <li class="nav-item ">
          <a routerLink="recipes" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add</a>
        </li>
      </div>
    </nav>
    
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>