<div *ngIf="viewMode; else editable">
    <div *ngIf="currentRecipe.id">
      <h4>Recipe</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentRecipe.recipe_name }}
      </div>
      <div>
        <label><strong>Category:</strong></label>
        {{ currentRecipe.category }}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/recipes/{{ currentRecipe.id }}"
      >
        Edit
      </a>
    </div>
    <div *ngIf="!currentRecipe">
      <br />
      <p>Please click on a Recipe...</p>
    </div>
  </div>
  <ng-template #editable>
    <div *ngIf="currentRecipe.id" class="edit-form">
      <h4>Recipe</h4>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentRecipe.recipe_name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Ingridients</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentRecipe.ingredient"
            name="description"
          />
        </div>
      </form>
      <button class="badge badge-danger mr-2" (click)="deleteRecipe()">
        Delete
      </button>
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateRecipe()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentRecipe.id">
      <br />
      <p>Cannot access this Recipe...</p>
    </div>
  </ng-template>
